
  /*Home page styling  */
.main{
  
 
  background-image: url(background.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}
/*logo of the website  */
.logo{
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
  cursor: pointer;
  font-style: italic;
 
}
span {
  color: orangered;
  font-weight: bolder;


}
/* navigation bar styling starts here */
nav ul li{
  list-style-type:none;
  display:inline-block;
  padding: 10px 25px ;

}
nav ul li a {
  color:white;
  text-decoration: none;
  font-weight: bolder;
text-transform: capitalize;
 font-size: 20px;

}
nav ul li a:hover{
  color:orangered;
  transition: 0.6s;
}
.button{
  background-color: orangered;
  color: aliceblue;
  text-decoration: none;
  border: 2px sold transparent;
  padding:10px;
border-radius: 15px;
;

}
/* home page content styling */
.content{
  border: 5px black solid;
height: 100%;
  margin:60px;

padding:100px;

line-height: 60px;
word-spacing: 10px;
letter-spacing: 2px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: italic;
border-radius: 20px;
background-color: black;
opacity:0.6;
}





#btn{
  border-radius: 10px;
  border:2px solid red;
  padding: 10px 20px;
  color: white;
  background-color: red;
  cursor: pointer;
font-size: 15px;
}
.text_white{
  color: red;
  font-style: italic;
}

/* About page styling starts here */

.about{
 padding:20px;
  
  background-color: bisque;
 

}

.about img{
  height:auto;
  width:400px;
position:relative;
border:1px solid black;
border-radius: 10px;



}
/* about page text styling */
.about-me{

padding:49px;

text-align: center;
}
.about{
  display:block;

  justify-content: space-around
}

.about-me h2{
  color: orangered;
 
  text-transform: capitalize;
  margin-bottom: 20px;
  font-style: italic;
  letter-spacing: 1px;
}

/* Services page styling */
.services{
  background-color: bisque;
  padding: 20px;
}
.title{
  text-align: center;
}
.title h2{
  font-size: 40px;
  margin-bottom: 10px;
  color: orangered
}
.title p{
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 20px;
}
.service-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(370px,auto));
grid-gap: 2rem;
margin-top: 4.5rem;
color: white;

}
.row{
  background-color: black;
  opacity: 0.7;
  padding: 30px ;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.55s;
}
.row h5{
color: orangered;
font-size: 25px;
font-weight: bolder;
margin-bottom: 20px;
}
.row p{
  line-height: 20px;
  font-style: italic;
}
.row:hover{
  transform: translateX(-8px);
  background-color: aliceblue;
  color: black;
}

/* project page styling starts here */
.projects{
  background-color: bisque;
padding: 20px;
}
.myprojects{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(370px,auto));
grid-gap: 2rem;
margin-top: 4.5rem;
color: white;
cursor: pointer;

}

.main-three{
 padding-top: 50px;
  text-align: center;
  color: orangered;

}
.main-three p{
  padding: 30px;
  color: black;
  font-size: 20px;
  font-style: italic;
}
.box{
  border: 1px solid black;
  border-radius: 10px;
}

.box img{
  width: 400px;
margin:20px;

border-radius: 10px;
transition: all 0.30s;
transform: translateX(-8px);
}

.box p{
  color: orangered;
  font-style: italic;
  font-size: 20px;
}
.box h5{
  font-size: 30px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-style: oblique;
  letter-spacing: 2px;
  margin-bottom: 15px;
  
}
/* contact page styling */
.contact1{
  background-image: url(./background.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;

display: grid;
grid-template-columns: repeat(2,2fr);
align-items: center;
grid-gap: 3rem;
opacity: 0.6;
height:100vh
}
.contact-img img{
  max-width: 100%; 
  width:700px; 
  height: auto;
  border-radius: 10px;
}
.form1 form{
position: relative;
}

.form1 form input,
form textarea{

padding: 20px;
border: none;
outline: none;
margin-bottom: 0.5rem;
border-radius: 10px;
}
.form1,.form1 h2{
  margin: 30px;
}
/* Responsive layout */
@media screen and (max-width: 280px) {

  .about img{
    height:50px;
    width:30%;
  
  }
 .content{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  }

  

  .main{
   
    flex-direction: column;
}
}

